.btn-gap {
    gap: 5rem;
}

.btn-padding {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.30rem;
    padding-right: 1.30rem;
    background-color: #9CD3D1;
    border-radius: 99px;
    
    text-decoration: none;
    color:#23022E;
}

.centre {
    margin:auto;
}

.div-margin {
    margin-top: 2.5rem;
    margin-bottom: 3rem;
}

.home-centre {
    display: inline-block;
    width: auto;
}

.home-container {
    padding: 0.01em 16px;
}

.home-content {
    max-width: 980px;
}

.home-padding-32 {
    padding: 32px !important;
}

.profile-img {
    border-radius: 50%;
    border: 10px solid #9CD3D1;
}

.text-centre {
    text-align: center;
}

.light-grey {
    color: #23022E !important;
    background-color: #EEE8E8 !important;
}

h1 {
    font-size: 36px;
}

body, h1 {
    font-family: Verdana, sans-serif;
    font-stretch: expanded;
}