body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    background-color: #F5F5F5;
    color: #23022E;
}

header {
    text-align: center;
    padding: 50px;
    background-color: #FFF;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.profile-img {
    border-radius: 50%;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

h2 {
    margin-top: 10px;
    font-weight: 300;
    color: #6A0DAD;
}

.btn-gap a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #6A0DAD;
    color: #FFF;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-gap a:hover {
    background-color: #5A0985;
}

section {
    padding: 50px 20px;
    text-align: center;
}

.work-experience, .projects, .contact {
    background-color: #FFF;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
    text-align: left;
    padding: 30px;
}

.work-experience h3, .projects h3, .contact h3 {
    margin: 0;
    padding: 20px 0;
    color: #23022E;
    font-size: 1.5em;
}

.project-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.project-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.experience {
    margin-top: 20px;
}

.experience-item {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.experience-item h4 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
}

.experience-item .company-name {
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
}

.experience-item .duration {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}

.experience-item ul {
    padding-left: 20px;
    margin: 0;
    list-style-type: disc;
}

.experience-item ul li {
    font-size: 14px;
    margin-bottom: 5px;
}


.work-experience h4, .project-item h4 {
    margin: 0;
    font-size: 1.2em;
    color: #23022E;
}

.project-item p {
    margin: 5px 0 0;
    color: #555;
}

.skills {
    font-size: 0.9em;
    color: #6A0DAD;
    background-color: #F3E8FF;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.project-item .featured {
    font-size: 0.9em;
    color: #db9f36;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
}

.buttons-container {
    display: flex;
    align-items: center; /* Vertically center the button and skills */
    gap: 10px; /* Adjust the space between the button and skills */
}

.filter-buttons {
    margin-bottom: 20px;
}

.filter-btn {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #6A0DAD;
    background-color: #FFF;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
    margin-top: 10px;
    font-weight: bold;
    border-color: #c26cff;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.filter-btn.active {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    background-color: #6a0dada8;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
    margin-top: 10px;
    font-weight: bold;
    border-color: #c26cff;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.github-btn {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
    margin-top: 10px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.showcase-btn {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    background-color: #3193d9;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
    margin-top: 10px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.learn-more-btn {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    background-color: #6A0DAD;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
    margin-top: 10px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.github-btn:hover {
    background-color: #555;
    transform: scale(1.05);
}

.showcase-btn:hover {
    background-color: #1d6fa9;
    transform: scale(1.05);
}

.learn-more-btn:hover {
    background-color: #510b83;
    transform: scale(1.05);
}

.github-btn img {
    margin-right: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #6A0DAD;
    color: #FFF;
}
